@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --light-orange: #fcebd5;
  --light_brown: #edd5bb;
  --light-red: #e09686;
  --white: #e5e5e5;
  --brown: #a16a5e;
  --red: #d44c2e;
  --blue: #1b59ac;
  --green: #1bac6f;
  --dark-grey: #5a5a5a;
  --ligth-grey: #b9b9b9;
  --whitee: #ffffff66;
}

body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.container-fluid {
  background-color: var(--light-orange);
}
.wrapper {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-family: "Reenie Beanie";
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  height: 100px;
  background-color: var(--light-orange);
}
.left_side {
  display: flex;
  align-items: center;
}

.landing_page-header h1 {
  font-size: 5em;
  color: var(--brown);
  font-weight: normal;
}
.right_logo img {
  width: 60px;
  /* margin-right: 30px; */
}
/* Bricks */
.design_section {
  margin-top: 20px;
  width: 100%;
  height: 250px;
  background:
        /* linear-gradient(90deg, var(--light-orange) 10%, transparent 10%) 0 0, */ linear-gradient(
        90deg,
        var(--light-orange) 10%,
        transparent 10%
      )
      50%,
    linear-gradient(var(--whitee) 33%, transparent 33%) 0 0,
    linear-gradient(var(--whitee) 33%, transparent 33%) 0 50%;
  background-size: 50px 30px;
  background-color: var(--light-orange);
}
.fist-section {
  display: flex;
  align-items: center;
  text-align: center;
}
.fist-section h1 {
  color: var(--brown);
  font-family: "Roboto", sans-serif;
  margin-top: 40px;
}

.btn.findButton {
  background-color: var(--brown);
  padding: 20px;
  color: var(--light-orange);
  font-weight: 700;
  font-family: Roboto;
  font-size: 20px;
  /* font-weight: 700; */
  line-height: 14.06px;
  text-align: left;
  margin-top: 40px;
}
.btn.findButton a {
  text-decoration: none;
  color: var(--light-orange);
}

/* autoplay slide */

.sliders_section {
  height: auto;
  margin: auto;
  position: relative;
  background-color: var(--light_brown);
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.right_side {
  display: flex;
  width: calc(250px * 12);
  animation: slide-right 40s infinite linear;
}
.left_side {
  display: flex;
  width: calc(250px * 12);
  animation: slide-left 40s infinite linear;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(250px * 6));
  }
}

.slide {
  display: flex;
  align-items: center;
  padding: 15px;
  white-space: nowrap;
}
.slide img {
  height: 200px;
  width: 250px;
  transition: transform 1s;
  object-fit: cover;
}
/* .left_side :hover img {
  transform: translateZ(20px);
} */

.sliders_section::before,
.sliders_section::after {
  background: linear-gradient(
    to right,
    var(--light-orange),
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.sliders_section::before {
  left: 0;
  top: 0;
}
.sliders_section::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
body, html {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    font-family: 'Roboto', sans-serif;
    
}
.container-fluid{
    background-color: var(--light-orange);
}
.wrapper{
    width: 100%;
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    margin: auto;
    font-family:'Reenie Beanie' ;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 100px;

}
.landing_page-header h1{
    font-size: 5em;
    color: var(--brown);

}


.main_shape{
    display:flex;
    flex-direction: column;
    height:100vh; 
    width: 70%;
    margin:30px auto ;
   
}
.section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 100%;


}
.artist{
    background-color:var(--light_brown);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    bottom: 0;
    z-index: 1;
    width: 100%;
    /* transition: box-shadow 0.3s; */
  
   
} 
 .artist:hover {
    width: 101%; 

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    /* box-shadow: 0px 2px 2px 0px #00000040; */
   

}

.visitors {
    background-color:var(--brown);
    clip-path: polygon(1 0, 150% 100%, 0 100%);
    z-index: 0; 
    top: -260px;
    width: 100%;
     /* transition: box-shadow 0.3s; */
  
   
}
.visitors:hover{
    /* width: 71%;  */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
/* box-shadow: 0px 2px 2px 0px #00000040; */


}

.content {
    text-align: right;
    position: relative;
    z-index: 2;

   
}

.content h4 {
    margin: 0;
    font-size: 4rem;
    font-family: 'Reenie Beanie';
    line-height: 45px;
   
}
.content a {
    text-decoration: none;
    color:var(--light-orange) ;
}

.artist .content {
    color:var(--brown);
}
.visitors .content{
    color: var(--light-orange);
    padding-top: 40px;
}

.dropdown select{
    background-color: transparent;
   padding:0 20px;
   font-size: 1.5em;
   color: var(--brown);
   border-color: var(--brown);
   border-width: 2px;
  margin-top: 20px;
  overflow-y: scroll;
}



@media (max-width: 768px) {
    .wrapper{
        flex-direction: column-reverse;
        height: auto;
    }
    .landing_page-header h1 {
        font-size: 3em;
    }
    .content h4 {
        font-size: 3em;
    }
    .main_shape {
        margin-top: 15px;
    }
}

