
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
--light-orange:#FCEBD5;
--light_brown:#EDD5BB;
--light-red:#E09686;
--white:#E5E5E5;
--brown:#A16A5E;
--red:#D44C2E;
--blue :#1B59AC
--green :#1BAC6F
--dark-grey:#5A5A5A
--ligth-grey:#B9B9B9
}
